body{
background-color: #B67332;
}
p{
color: #EEE6D8;
  font-family: Century Gothic;
  text-align: center;
}
h1{
color: #EB9F04;
  font-family: Source Code Pro Black;
  text-align: center;
}
img{
border-radius: 0 20px 0 20px
  height: 200
}
